body {
    font: 16px "Century Gothic", Futura, sans-serif;
    margin: 100px;
    background-color:pink;
  }
  
  ol, ul {
    padding-left: 40px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 50px;
  }
  
  .square {
    background: #fff;
    border: 5px solid maroon;
    float:left;
    font-size: 64px;
    font-weight: bold;
    line-height: 44px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  
  .square:focus {
    outline:rgb(36, 34, 34);
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 50px;
  }
  